[LIST]
; 列出所有MODE模块的参数名
mode_list = [
              "test_case_serviceAgent"
              ,"test_case_serviceModel"
              ,"test_case_weatherController"
              ,"test_case_authService"
            ]

[MODE]
; 数据-网关
% test_case_serviceAgent={"add_on_off":"all","register":"all","delete":"all","query":"all","custom":"all","map":"all"}
test_case_serviceAgent={"add_on_off":[],"register":[],"delete":[],"query":[],"custom":[],"map":[]}

; 数据-物模型
% test_case_serviceModel={"thingModel":"all","thingModel_item":"all","thingModel_instance":"all",
%                         "thingModel_instanceItem":"all","custom":"all","formula":"all"}
test_case_serviceModel={"thingModel":[],"thingModel_item":[],"thingModel_instance":[],
                       "thingModel_instanceItem":[],"custom":[],"formula":[]}


; 天气控制
% test_case_weatherController={"query":"all"}
test_case_weatherController={"query":[]}

; 用户管理
%%test_case_authService={"rent":"all","platform":"all","role":"all","user":"all","user_update":"all","jurisdiction":"all","test1":"all"}
test_case_authService={"rent":[], "platform":[],"role":[],"user":[],"user_update":[],"jurisdiction":[],"test1":"all"}